* {
  box-sizing: border-box;
}

body {
  margin-top: 30%;
}

#container {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(auto-fill, 4rem);
  grid-template-areas:
    "result result result result"
    "display display display display"
    "digits digits digits operators"
    "equal equal equal clear";
}

#result-screen {
  text-align: end;
  font-size: 3rem;
  color: white;
  background-color: #033003;
  grid-area: result;
}

#display {
  width: 100%;
  height: 4rem;
  padding-right: 0.3rem;
  text-align: end;
  vertical-align: middle;
  font-size: 1.5rem;
  background-color: #f5b5b5;
  grid-area: display;
}

.digits {
  grid-area: digits;
  display: grid;
  height: 16rem;
  grid-template-columns: repeat(auto-fill, 33.3%);
}

/* .digits button {
  width: 33.3%;
  height: 4rem;
  margin: 0;
} */

#zero {
  grid-column: span 2;
}

.operators {
  grid-area: operators;
  display: grid;
}

/* .operators button {
  width: 100%;
  height: 4rem;
} */

.equal-and-clear-buttons {
  grid-column-start: 1;
  grid-column-end: 5;
  font-size: 0;
}

#equal {
  width: 75%;
  height: 4rem;
}

#clear {
  width: 25%;
  height: 4rem;
}
