button {
    width: 60px;
    height: 60px;
    background-color: aqua;
}

#display {
    width: 240px;
    height: 60px;
    text-align: end;
    font-size: 50px;
    background-color: rgb(245, 181, 181);
}

#container {
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 240px;
    border: solid 5px;
}

.digits {
    display: flex;
    flex-wrap: wrap;
    max-width: 180px;
    max-height: 240px;
    background-color: inherit;
}

.operators {
    display: flex;
    flex-direction: column;
}

.equal-and-clear-buttons {
    display: flex;
}

#multiplication, #addition, #subtraction, #division {
    background-color: magenta;
    
}

#zero {
    width: 120px;
    text-align: start;
}

#equal {
    width: 180px;
    background-color: coral;
}

#clear {
    background-color: rgb(173, 32, 32);
    color: white;
}
