* {
    box-sizing: border-box;
}

#container {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    /* display: flex;
    flex-wrap: wrap; */
    width: 95vw;
    /* border: black solid 5px; */
}

#display {
    width: 100%;
    height: 4rem;
    padding-right: 0.3rem;
    text-align: end;
    font-size: 3rem;
    background-color: rgb(245, 181, 181);
}

.digits {
    width: 80%;
}

.digits button {
    width: 32%;
    height: 4rem;
    margin: 0;
}

#zero {
    width: 66%;
}

.operators {
    width: 20%;
}

.operators button {
    width: 100%;
    height: 4rem;
}

.equal-and-clear-buttons {
    width: 100%;
}

#equal {
    width: 79%;
    height: 4rem;
}

#clear {
    width: 19%;
    height: 4rem;
}
